<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>
<body>
    <header>
        <img src="../images\TaskLogo.png" alt="Logo do Site Task Manager" id="logoTask">
        <h3>Task Manager</h3>
        <h3>Login</h3>
        <h3>Cadastre-se</h3>
    </header>

    <main>
        <p>Adicionar Tarefa</p>
        <p>Remover Tarefa</p>
        <p>Editar Tarefa</p>
        <p>Calendário</p>
        <p>Gráfico</p>
    </main>

    <footer>
        <div class="infos">
            <div class="perfil">
                <span>Gabriel Felipe</span>
                <a href="https://www.linkedin.com/in/gabriel-felipe-292827270/" target="_blank" rel="noopener noreferrer">
                <img src="../images/linkedinLogo.png" alt="Logo do Linkedin" class="footer_logoLin">
                </a>

                <a href="https://github.com/GabrielFelipeH3" target="_blank" rel="noopener noreferrer">
                <img src="../images/github-mark-white.png" alt="Logo do Github" class="footer_logoGit">
                </a>
            </div>

            <div class="perfil">
                <span>Pedro Jorge</span>
                <a href="https://www.linkedin.com/in/pedro-jorge-de-souza-colombrino-ba2967270/" target="_blank" rel="noopener noreferrer">
                <img src="../images/linkedinLogo.png" alt="Logo do Linkedin" class="footer_logoLin">
                </a>
            
                <a href="https://github.com/owsei-data" target="_blank" rel="noopener noreferrer">
                <img src="../images/github-mark-white.png" alt="Logo do Github" class="footer_logoGit">
                </a>
            </div>
        </div>
    </footer>

    <script src="../scripts/script.js"></script>
</body>
</html>